<!DOCTYPE html>
<html lang="en">

<head>{% load static %}
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="shortcut icon" href="img/fav.png">
	<meta name="author" content="colorlib">
	<meta name="description" content="">
	<meta name="keywords" content="">
	<meta charset="UTF-8">
    <title>Gustave Personal</title>
   	<!-- {% if title %}
	<title>Gustave Personal - {{ title }}</title>
	{% else %}
	<title>Gustave Personal</title>
	{% endif %}

			CSS
			============================================= -->
	<link rel="stylesheet" href="{% static 'css/linearicons.css' %}">
	<link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
	<link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'css/owl.carousel.css' %}">
	<link rel="stylesheet" href="{% static 'css/main.css' %}">
</head>

<body>

	<!-- Start Preloader Area -->
	<div class="preloader-area">
		<div class="loader-box">
			<div class="loader"></div>
		</div>
	</div>
	<!-- End Preloader Area -->


    
    <div class="container">
            <div class="row">
                <div class="col-sm-12">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ messages.tags }}">
                       {{ message }} 
                    </div>
                {% endfor %}
            {% endif %}
            {% block content %}

            {% endblock %}
                </div>
            </div>
        </div>


    <!-- start footer Area -->
	<footer class="footer-area">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="footer-top flex-column">
                            <div class="footer-logo">
                                <a href="#">
                                    <img src="img/logo.png" alt="">
                                </a>
                                <h4>Follow Me</h4>
                            </div>
                            <div class="footer-social">
                                <a href="#"><i class="fa fa-facebook"></i></a>
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row footer-bottom justify-content-center">
                    <p class="col-lg-8 col-sm-12 footer-text">
                        
    Copyright &copy;
    <script>
    document.write(new Date().getFullYear());
    </script>
    All rights reserved by <a href="mailto:muhozagustave1213@gmail.com" target="_blank">Gustave</a>
    </p>
                </div>
            </div>
        </footer>
        <!-- End footer Area -->
    
        <!-- ####################### Start Scroll to Top Area ####################### -->
        <div id="back-top">
            <a title="Go to Top" href="#">
                <i class="lnr lnr-arrow-up"></i>
            </a>
        </div>
        <!-- ####################### End Scroll to Top Area ####################### -->
    
        <script src="{% static 'js/vendor/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'js/vendor/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/easing.min.js' %}"></script>
        <script src="{% static 'js/hoverIntent.js' %}"></script>
        <script src="{% static 'js/superfish.min.js' %}"></script>
        <script src="{% static 'js/mn-accordion.js' %}"></script>
        <script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>
        <script src="{% static 'js/jquery.magnific-popup.min.js' %}"></script>
        <script src="{% static 'js/owl.carousel.min.js' %}"></script>
        <script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
        <script src="{% static 'js/isotope.pkgd.min.js' %}"></script>
        <script src="{% static 'js/jquery.circlechart.js' %}"></script>
        <script src="{% static 'js/mail-script.js' %}"></script>
        <script src="{% static 'js/wow.min.js' %}"></script>
        <script src="{% static 'js/main.js' %}"></script>
    
    </body>
    
    </html>