{% extends "blog/base.html" %}
    {% block content %}

    {% include 'blog/hireNav.html' %}
	<!-- start banner Area -->
	<section class="banner-area relative">
		<div class="container">
			<div class="row d-flex align-items-center justify-content-center">
				<div class="about-content col-lg-12">
					<h1 class="text-white">
						Hire Me
					</h1>
					<p class="link-nav">
						<span class="box">
							<a href="{% url 'cvapp:index' %}">Home </a>
							<a href="{% url 'cvapp:hire' %}">Contact</a>
						</span>
					</p>
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	<!-- Start contact-page Area -->
	<section class="contact-page-area section-gap-top">
		<div class="container">
			<div class="row">
				<div class="col-lg-4 d-flex flex-column address-wrap">
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-home"></span>
						</div>
						<div class="contact-details">
							<h5>Kigali, Rwanda</h5>
							<p>
								kk 32 st
							</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-phone-handset"></span>
						</div>
						<div class="contact-details">
							<h5>+2507 8784 8876</h5>
							<p>All time available</p>
						</div>
					</div>
					<div class="single-contact-address d-flex flex-row">
						<div class="icon">
							<span class="lnr lnr-envelope"></span>
						</div>
						<div class="contact-details">
							<h5>muhozagustave1213@gmail.com</h5>
							<p>Send your query anytime!</p>
						</div>
					</div>
				</div>
				<div class="col-lg-8">
					<form class="form-area " id="myForm" action="mail.php" method="post" class="contact-form text-right">
						<div class="row">
							<div class="col-lg-6 form-group form-group-top">
								<input name="org_name" placeholder="Organization Name" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Organization Name'"
								 class="common-input mb-20 form-control" required="" type="text">

								<input name="position" placeholder="Available Position" onfocus="this.placeholder = ''"
								 onblur="this.placeholder = 'Available Position'" class="common-input mb-20 form-control" required="" type="text">

								<input name="requirements" placeholder="Major skills required" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Major skills required'"
								 class="common-input mb-20 form-control" required="" type="text">
							</div>
							<div class="col-lg-6 form-group">
								<textarea class="common-textarea form-control" name="message" placeholder="Some addition details" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Some addition details'"></textarea>
							</div>
							<div class="col-lg-12">
								<div class="alert-msg" style="text-align: left;"></div>

								<button class="primary-btn" style="float: right;" data-text="Send">
									<span>S</span>
									<span>e</span>
									<span>n</span>
									<span>d</span>
									<span> </span>
									<span>M</span>
									<span>e</span>
									<span>s</span>
									<span>s</span>
									<span>a</span>
									<span>g</span>
									<span>e</span>

								</button>
							</div>
						</div>
					</form>
				</div>

				<div class="col-lg-12">
					<div class="map-wrap" style="width:100%; height: 445px;" id="map"></div>
				</div>
			</div>
		</div>
	</section>
	<!-- End contact-page Area -->
	{% endblock content %}